
.contenedor-auth-form {
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que el formulario ocupe el 100% del ancho de .App */
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Asegura que el input ocupe el 100% del ancho del formulario */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.enter,.register  {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; 
}

.enter:hover,.register:hover {
  background-color: #0056b3;
}
