
.contenedor-notas-principal{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: transparent;
}

.contenedor-notas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-nota {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.nota-izquierda {
    flex: 1;
}

.nota-derecha {
    flex: 2;
}

.contenedor-botones {
    margin-top: 10px;
}

#contenedorNotas,#botonVolver {
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contenedorNotas,#botonVolver:hover {
    background-color: #0056b3;
}
